<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container" ng-hide="isLoggedIn()">
    <div class="row">
      <div class="col-lg-8">
        <h1>'Allo, 'Allo!</h1>
        <p class="lead">Kick-start your next web app with Angular Fullstack</p>
        <img src="assets/images/yeoman.png" alt="I'm Yeoman">
      </div>
      <div class="col-lg-4" ng-controller="LoginCtrl">
        <div ng-include="'app/account/login/login.html'"></div>
      </div>
    </div>
</div>
<div class="container" ng-show="isLoggedIn()">
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-8">
        <h2>My Bookshelf</h2>
        <form>
          <input ng-model="newBook" type="text" placeholder="Title or ISBN">
          <button class="btn btn-lg btn-primary" ng-click="addBook()">Add Book</button>
        </form>
        <ul class="books">
          <li class="list-item" ng-repeat="book in myBooks">
            <img ng-src="{{book.imageUrl}}"/>
          </li>
        </ul>
      </div>
    </div>
</div>
<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
