<div ng-include="'components/navbar/navbar.html'"></div>
  <div class="container" ng-hide="isLoggedIn()">
    <div class="row">
      <div class="col-lg-8">
        <h1>Book Outpost</h1>
        <p>
          It's easy! List books you'd like to swap with other club members.</br>
          Once a book is requested, mail it to the club member.</br>
          In return you may choose from hundreds of available books!</br>
        </p>
      </div>
      <div class="col-lg-4" ng-controller="LoginCtrl">
        <ul class="nav nav-tabs">
          <li ng-click="tab='login'" ng-class="{active: tab==='login'}" role="presentation">Login</li>
          <li ng-click="tab='register'" ng-class="{active: tab==='register'}" role="presentation">Register</li>
        </ul>
        <div class="login-block" ng-show="tab==='login'" ng-include="'app/account/login/login.html'"></div>
        <div class="login-block" ng-show="tab==='register'" ng-include="'app/account/signup/signup.html'"></div>
      </div>
    </div>
</div>
<div class="container" ng-show="userIDKnown()">
    <div class="row">
      <div class="col-lg-4">
        <img src="../assets/images/200x200.png">
        <h2>{{name}}</h2>
        <a ng-click="openUserUpdate()" ng-hide="firstName">Add Your Name</a>
        <h5>{{firstName}} {{lastName}}</h5>
        <a ng-click="openUserUpdate()" ng-hide="city">Add Your Address</a>
        <h5>{{city}}, {{state}}</h5>
      </div>
      <div class="col-lg-7 shelf">
        <h2 ng-click="page='myBooks'" ng-class="{activePage: page==='allBooks'}">My Bookshelf</h2>
        <h2 ng-click="page='allBooks'; getAllBooks()" ng-class="{activePage: page==='myBooks'}">Outpost</h2>
        <div ng-show="page==='myBooks'">
            <form>
              <input ng-model="newBook" type="text" placeholder="Title or ISBN">
              <button class="btn btn-lg btn-primary" ng-click="addBook()">Add Book</button>
            </form>
            <ul class="books">
              <li ng-repeat="book in myBooks">
                <img ng-src="{{book.imageUrl}}"/>
                <p ng-show="book.tradesProposed[0].book">Trade <i>{{book.name}}</i> for <i>{{book.tradesProposed[0].book}}</i>?
                  <button ng-click="acceptTrade(book._id)" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i></button>
                </p>

              </li>
            </ul>
        </div>
        <div ng-show="page==='allBooks'">
        <p> click a book to propose a trade.</p>
          <ul class="books">
            <li ng-repeat="book in allBooks">
              <img ng-hide="book.owner === _id" ng-click="openTradeModal(book._id, book.name)" ng-src="{{book.imageUrl}}"/>
            </li>
          </ul>
        </div>
      </div>
</div>
<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
